# General
Thumbs.db
#nl.sh

# General extensions
*.c~
*.cpp~
*.java~
*.php.swp
*.php~
*.js~
*.css~
*.less~
*.html~
*.htm~
*.htaccess~
*~
*._.DS_Store

# Git
*.orig

# compiled
a.out
*.class
*.pyc
*.apk
*.jar

# Editors
nbproject
*.iml
.idea
.project
.classpath
.settings

# logs
#.run.log
#.last_tmp.py

# Development specific files
/temp/*
target
