# General
Thumbs.db
#nl.sh

# General extensions
*.c~
*.cpp~
*.java~
*.php.swp
*.php~
*.js~
*.css~
*.less~
*.html~
*.htm~
*.htaccess~
*~
*._.DS_Store

# General Directories
/temp/*
target

# Git
*.orig

# compiled
a.out
*.pyc

# Editors
nbproject
.project
.classpath
.settings

# Intellij
*.iml
.idea
*.sc

# Java
*.class
*.jar
*.apk

