<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/hibernate_study</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">@bilasH</property>

        <!-- JDBC connection pool (use the built-in) -->
        <property name="connection.pool_size">1</property>

        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>

        <!-- Second Level Cache -->
        <property name="cache.region.factory_class">org.hibernate.cache.ehcache.EhCacheRegionFactory</property>
        <property name="cache.use_second_level_cache">true</property>
        <property name="cache.use_query_cache">true</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>

        <!-- Drop and Create -->
        <property name="hbm2ddl.auto">update</property>

        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        
        <mapping class="org.koushik.javabrains.dto.UserDetails"></mapping>
        <mapping class="org.koushik.javabrains.dto.UserDetails2"></mapping>
        <mapping class="org.koushik.javabrains.dto.UserDetails3"></mapping>

        <mapping class="org.koushik.javabrains.dto.one2one.O2OUserDetails"></mapping>
        <mapping class="org.koushik.javabrains.dto.one2one.O2OVehicle"></mapping>
        <mapping class="org.koushik.javabrains.dto.one2many.O2MUserDetails"></mapping>
        <mapping class="org.koushik.javabrains.dto.one2many.O2MVehicle"></mapping>
        <mapping class="org.koushik.javabrains.dto.many2many.M2MUserDetails"></mapping>
        <mapping class="org.koushik.javabrains.dto.many2many.M2MVehicle"></mapping>

        <mapping class="org.koushik.javabrains.dto.inheritance.InVehicle"></mapping>
        <mapping class="org.koushik.javabrains.dto.inheritance.InTwoWheeler"></mapping>
        <mapping class="org.koushik.javabrains.dto.inheritance.InFourWheeler"></mapping>

        <mapping class="org.koushik.javabrains.dto.crud.CRUDUserDetails"></mapping>

        <!--
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <mapping resource="com/mkyong/common/Stock.hbm.xml"></mapping>
        -->
    </session-factory>
</hibernate-configuration>